:root{
    --font-family-ms: 'Montserrat', sans-serif;
    --font-family-fr: 'Fraunces', serif;

    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    
    /*### Neutral*/
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    /*## Typography

    ### Body Copy*/

    --White: hsl(0, 0%, 100%);
    --Font-size-paragraph: 14px;
    /*### Font*/
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--Cream);
}
.product-container{
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
    background-color: var(--White);
}
.product-container picture img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.product-details{
    width: 90%;
    margin: 15px auto;
}
.product-details-category{
    font-family: var(--font-family-fr);
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--Dark-grayish-blue);
    font-size: var(--Font-size-paragraph);
}
.product-details h2{
    font-family: var(--font-family-fr);
    font-weight: 700;
    font-size: 32px;
}
.product-details p{
    font-family: var(--font-family-ms);
    color: var(--Dark-grayish-blue);
    font-size: var(--Font-size-paragraph);
    font-weight: 700;
}
.product-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 24px 0;
}
.product-price span:nth-child(1){
    color: var(--Dark-cyan);
    font-family: var(--font-family-fr);
    font-size: 32px;
    margin: 0 20px 0 0 ;
}
.product-price span:nth-child(2){
    color: var(--Dark-grayish-blue);
    font-family: var(--font-family-fr);
    font-size: var(--Font-size-paragraph);
    text-decoration: line-through;
}
.product-details button{
    width: 100%;
    height: 3em;
    border-radius: 10px;
    background-color: var(--Dark-cyan);
    border: transparent;
    color: var(--White);
    font-family: var(--font-family-ms);
}
